@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.google.com/selection/embed');
*{
    font-family: Minecraft, sans-serif;
}
body{
    background-color: rgb(200, 198, 198);
}
h1{
    margin:0;
}
h2 {
    font-weight: 700;
    color: #ffffff;
    align-self: flex-start;
    margin-left: 10px;
    text-align: left;
}
img {
    width: 300px;
    height: auto;
}
.btn-MC{
    background-color: #00c517;
    align-self: flex-start;
    align-self: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-MC:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.card img {
    height: 200px;
    object-fit: cover;
}
.hero-slider {
    overflow: hidden;
    position: relative;
}
.carousel-inner, #heroSlider {
    height: 500px;
    overflow: hidden;
}

.carousel-inner img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.hero-slider .slide {
    width: 100%;
    height: 100%;
}
.card {
    width: 400px;
    background: #00c517;
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
.card .btn {
    align-self: flex-start;
    align-self: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover .btn {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
.card .btn:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}


